@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  background-color: #070707;
  color: white;
}

body:has(.filter-active) {
  overflow-y: hidden;
}
